# datagenerator test
Simple test running the `modules/datagenerator.py` and reading back the result

## Boilerplate

In [15]:
import os
import pandas as pd
import datetime
cwd = os.getcwd()
if cwd.endswith('jupyter_notebooks'):
    os.chdir('..')
from modules import datagenerator

## Running the `modules/datagenerator.py` file

In [16]:
datagenerator.main()

## Reading back the result

In [17]:
df = pd.read_pickle('./cache/faculty_members.pkl')

## Display info on the read data

In [18]:
df

      CF  sciper        DoB academic rank appointment
0    301  190188 1985-06-21          PATT  2019-01-01
1    304  283344 1963-06-29            PO  2017-07-01
2    305  283343 1978-04-30            PO  2017-11-01
3    307  292067 1984-08-28          PATT  2018-06-01
4    315  189938 1975-02-26            PA  2016-01-01
..   ...     ...        ...           ...         ...
76  1055  252550 1983-09-13          PATT  2016-01-01
77  1056  252123 1979-07-31          PATT  2015-01-01
78  1057  212341 1966-02-26            PA  2015-04-01
79  1062  106482 1962-08-29            PO  2009-10-01
80  1063  103117 1967-08-31            PA  2013-08-01

[81 rows x 5 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81 entries, 0 to 80
Data columns (total 5 columns):
CF               81 non-null object
sciper           81 non-null object
DoB              81 non-null datetime64[ns]
academic rank    81 non-null object
appointment      81 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(3)
memory usage: 3.8+ KB